* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Quicksand", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
.app {
  // display: grid;
  // grid-template-columns: auto 1fr;
}
@import "custom.scss";
@import "nav.scss";
@import "dashboard.scss";
@import "module.scss";
@import "personalInfo.scss";
@import "container.scss";
@import "budget.scss";
@import "investing.scss";
