* {
  padding: 0;
  margin: 0;
}
:root {
  // --bg-color: blue;
  --bg-color: white;
  --lbg-color: white;
  // --color: yellow;
  --color: black;
  --rcolor: #ec111a;
  --input: white;
  // --input: #525b63;
  --box: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --submit: #ec111a;
}
body {
  font-family: "Quicksand", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
.app {
  // display: grid;
  // grid-template-columns: auto 1fr;
}

a,
p,
h1,
h2,
h3,
h4,
button,
li {
  // color:white;
}
div {
  // background-color: #191919;
}
// #202020 nav
@import "custom.scss";
@import "nav.scss";
@import "dashboard.scss";
@import "module.scss";
@import "personalInfo.scss";
@import "container.scss";
@import "budget.scss";
@import "investing.scss";
@import "spending.scss";
@import "budget.scss";
@import "investing.scss";
@import "spending.scss";
