.personal-status {
  position: fixed;
  top: 1rem;
  right: 2rem;
  width: 600px;
  height: 200px;
  box-shadow: var(--box);
  z-index: 2;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
}
.personal-container {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--bg-color);
}
.personal-content {
  padding: 2rem 0;

  h1 {
    text-align: center;
    width: 100%;
    color: var(--color);
  }
  p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    background-color: #a50c12;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem 1rem;
    color: white;
    width: 100%;
  }
}
.personal-account {
}
.personal {
  align-items: flex-start;
  row-gap: 2rem;
  width: 60%;
  h2 {
    font-size: 1.5rem;
    color: var(--color);
  }
}
.personal-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  height: 50%;
  width: 70%;
  margin-inline: auto;
  margin-top: 3rem;
  color: var(--color);
}
.info-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: var(--box);
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  row-gap: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--lbg-color);
}
.personal-account {
  grid-column: span 3;
}
.personal-age,
.personal-salary,
.personal-debt {
  input {
    user-select: none;
    width: 60%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    // box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 3px 0px inset, rgba(0, 0, 0, 0.5) 0px 0px 0px 2px inset;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--input);
    box-shadow: var(--box);
    color: var(--color);
  }
}

.personal-userName,
.personal-password {
  width: 70%;

  input {
    user-select: none;

    padding-left: 1rem;
    box-sizing: border-box;

    height: 50px;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    // box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 3px 0px inset, rgba(0, 0, 0, 0.5) 0px 0px 0px 2px inset;
    text-align: center;
    text-align: left;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px inset, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;
    box-shadow: var(--box);

    width: 100%;
  }
}
.personal-e-statment {
  grid-column: span 3;
  label {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem 2rem;
    // border:solid 2px #ec111a;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
  input {
    border: none;
    overflow: hidden;
    color: white;
    width: 0;
    height: 0;
    background-color: var(--input);
  }
  h3 {
    color: rgba(0, 0, 0, 0.6);
  }
  .personal-file {
    column-gap: 0.2rem;
    button {
      border: none;
      background-color: transparent;
      font-size: 1.2rem;
      width: 30px;
      height: 30px;
      cursor: pointer;
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
    }
  }
}
.info-card-select-file {
  background-color: var(--input);
}
.personal-submit {
  font-size: 1.5rem;
  grid-column: span 3;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: var(--input);
  color: var(--submit);
  border-radius: 0.5rem;
  border: 2px solid var(--submit);
  padding: 0.5rem 0;
  cursor: pointer;
}
